<header>
  <div class="container">
    <h1><a class="page-link" href="index.html">monsterkodi</a></h1>
    <nav class="site-nav">
      <div class="trigger">
            <a class="page-link strudl link" href="https://github.com/monsterkodi/strudl">strudl</a>
            <a class="page-link turtle link" href="./password-turtle">turtle</a>
            <a class="page-link krkkl  link" href="https://github.com/monsterkodi/krkkl">krkkl</a>
            <a class="page-link knix   link" href="./knix">knix</a>
            <a class="page-link c-ls   link" href="https://github.com/monsterkodi/color-ls">color-ls</a>
            <a class="page-link noon   link" href="https://github.com/monsterkodi/noon">noon</a>
            <a class="page-link sds    link" href="https://github.com/monsterkodi/sds">sds</a>
      </div>
    </nav>
  </div>
</header>
