<header>
  <style>
  .link {
      font-weight: bold;
  }
  
  #about-link {
      color: red;
  }
  #about-link:hover {
      color: orange;
  }
  #download-link {
      color: orange;
  }
  #download-link:hover {
      color: yellow;
  }
  #credits-link {
      color: green;
  }
  #credits-link:hover {
      color: #3f3;
  }
  #manual-link {
      color: #88f;
  }
  #manual-link:hover {
      color: #ccf;
  }
  </style>
  <div class="container">
    <h1><a href="index.html">monsterkodi</a></h1>

    <nav class="site-nav">

      <div class="trigger">
            <a class="page-link" href="index.html"    class='link' id='index-link'>index</a>
      </div>

    </nav>

  </div>
</header>
