<header>
  <style>
  .link {
      font-weight: bold;
  }
  
  #strudl-link {
      color: red;
  }
  #strudl-link:hover {
      color: orange;
  }
  #turtle-link {
      color: orange;
  }
  #turtle-link:hover {
      color: yellow;
  }
  #krkkl-link {
      color: green;
  }
  #krkkl-link:hover {
      color: #3f3;
  }
  #knix-link {
      color: #88f;
  }
  #knix-link:hover {
      color: #ccf;
  }
  </style>
  <div class="container">
    <h1><a href="index.html">monsterkodi</a></h1>

    <nav class="site-nav">

      <div class="trigger">
            <a class="page-link" href="./strudl"          class='link' id='strudl-link'>strudl</a>
            <a class="page-link" href="./password-turtle" class='link' id='turtle-link'>turtle</a>
            <a class="page-link" href="./krkkl"           class='link' id='krkkl-link'>krkkl</a>
            <a class="page-link" href="./knix"            class='link' id='knix-link'>knix</a>
      </div>

    </nav>

  </div>
</header>
