<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <section id="main_content">
        
          <h3><a href="https://github.com/monsterkodi/strudl/" id="strudl">strudl</a></h3>
          <a href="https://github.com/monsterkodi/strudl/"><img src="img/strudl.png"></a>

          <h3><a href="./password-turtle" id="turtle">password-turtle</a></h3>
          <a href="./password-turtle"><img src="img/turtle.png"></a>

          <h3><a href="./knix" id="knix">knix</a></h3>
          <a href="./knix"><img src="img/knix.png"></a>

          <h3><a href="./krkkl" id="krkkl">krkkl</a></h3>
          <a href="./krkkl"><img src="img/krkkl.png"></a>

          <h3><a href="https://github.com/monsterkodi/color-ls/" id="c-ls">color-ls</a></h3>
          <a href="https://github.com/monsterkodi/color-ls/"><img src="img/color-ls.png"></a>

          <h3><a href="https://github.com/monsterkodi/sds/" id="sds">sds</a></h3>
          <a href="https://github.com/monsterkodi/sds/"><img src="img/sds.png"></a>

          <h3><a href="https://github.com/monsterkodi/noon/" id="noon">noon</a></h3>

      </section>
    </div>

    {% include footer.html %}

  </body>
</html>
